
/*cart model css*/
.cart-modal .close {
    position: absolute;
    right: 40px;
    top: 27px;
    opacity: 1;
    text-shadow: unset;
    color: #fff !important;
    padding: 0;
}

.cart-modal .field-sub li {
    display: flex;
    margin-right: 0;
    margin-bottom: 13px;
}

.cart-modal .field-sub li:last-child {
    margin-bottom: 0;
}

.cart-btn a.btn {
    padding: 0 11px;
}

.cart-modal .field-sub {
    padding: 19px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #FEFEFE;
    z-index: 1062;
}

.cart-modal .modal-header {
    padding: 30px;
    text-align: center;
    display: block;
    background: #72bf44;
    border-radius: 48px 48px 0 0;
    border-bottom: 0;
}

.cart-modal .modal-header h3 {
    margin: 0;
    text-align: center;
    color: #fff;
}
.cart-modal-carticon{
    width: 115px;
    position: absolute;
    top: -71px;
    left: -113px;
}

.modal-content.cart-modal .close
.flex-checkbox {
    justify-content: center;
}

.stay_shop_details_quantity input[type=number] {
    -moz-appearance: textfield;
}

.stay_shop_details_quantity input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.stay_shop_details_quantity input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.cart-modal .modal-dialog .modal-content {
    padding: 0;
    border-radius: 60px;
    border:10px solid #72BF44;
    width: 80%;
    margin: auto;
    margin-top: 125px;
}

.cart-modal .modal-content .modal-header>div:last-of-type{
    width: 60%;
}

#divFieldSeats {
    text-align: left;
}
#divFieldSeats span {
    margin-right: 5px;
}

#divFieldSeats.hidden {
    display: none;
}

.cart-modal .modal-header {
    border-radius: 18px 18px 0 0;
}

.cart-modal .modal-header h3 {
    width: 100%;
}

.cart-modal .modal-dialog .modal-content {
    border-radius: 20px;
    border:1px solid #72BF44;
    width: 320px !important;
}

.cart-modal .modal-dialog .place-name {
    font-size: 20px;
    text-align: left;
    width: 100%;
}

.cart-modal .modal-dialog #cart_product_name {
    display: block;
    text-align: left;
    width: 100%;
}

.cart-modal .modal-dialog .add_to_cart_submit_btn {
    margin: 50px auto 0;
    width: auto;
}

.cart-modal .modal-dialog .cart-modal-form {
    background: #F2F2F2;
    border-radius: 0 0 20px 20px;
}

.cart-modal .modal-dialog .cart-modal-form input {
    background: #FEFEFE;
}

.cart-modal label.field_desc {
    margin-bottom: 5px;
    text-align: left;
    width: 100%;
    font: normal normal medium 20px/20px Roboto;
    letter-spacing: 0px;
    color: #414141;
    opacity: 1;
}

.cart-modal .field-select > input,
.calendar-wrapper > input {
    border: 1px solid #3CADF1;
    border-radius: 5px;
    padding: 10px 14px !important;
}

.cart-modal .field-select > input[type=number] {
    padding-right: 0 !important;    
}

.cart-modal .field-select > input:focus {
    border: 1px solid !important;
}

.cart-modal .field-select i {
    right: 14px;
    color: #868E96;
    z-index: 1061;
}

.cart-model .top-booking-details {
    margin: 0 0 10px;
    padding: 0 0 10px;
    display: block;
}

.cart-modal .modal-header {
    padding: 15px;
}

.cart-modal .widget-shadow {
    padding: 20px;
}

.cart-modal .form-underline .field-select {
    margin-bottom: 20px;
}

@media(max-width:991px) {
    .cart-modal-carticon {
        width: 91px;
        top: -72px;
        left: -91px;
    }
    .cart-modal .close {
        right: 45px;
        top: 25px;
    }
}

@media (max-width: 575px) {
    .cart-modal .modal-content {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 125px;
    }
}

@media(max-width:480px) {
    .cart-modal .modal-content .modal-header>div:last-of-type{
        width: 70%;
    }
    .cart-modal .modal-header h3 {
        font-size: 15px;
    }
    .cart-modal .close {
    right: 38px;
    }
    .cart-modal .top-booking-details label span{
        font-size: 14px;
    }
    .cart-modal .field-sub li>span{
        width: 35%;
    }
}